<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        .row {
            margin: 0 0 20px 0;
        }
        .error {
            background: red;
            color: #fff;
        }
        small {
            display: block;
            margin: 0 0 5px 0;
        }
        input.error {
            background: #fff;
            border: 1px solid red;
        }
        .focus {
            background: green;
        }
    </style>
</head>
<body ng-app="validationApp">
    <div>

    </div>
    <form
            name="signup_form"
            novalidate
            ng-controller="signupController"
            ng-submit="signupForm()">
        <fieldset>
            <legend>Signup</legend>
            <div class="row">
                <div class="large-12 columns">
                    <label>Your name</label>
                    <input
                            ng-class="{error: signup_form.$dirty && signup_form.$invalid}"
                            type="text"
                            placeholder="Name"
                            name="name"
                            ng-model="signup.name"
                            ng-minlength=3
                            ng-maxlength=20
                            required
                            ng-focus>
                    <div
                            class="error"
                            ng-show="signup_form.name.$dirty && signup_form.name.$invalid && !signup_form.name.$focused">
                          <!--ng-show="signup_form.name.$dirty && signup_form.name.$invalid && signup_form.$submitted"-->
                        <small
                                class="error"
                                ng-show="signup_form.name.$error.required">
                            Your name is required.
                        </small>
                        <small class="error"
                               ng-show="signup_form.name.$error.minlength">
                            Your name is required to be at least 3 characters
                        </small>
                        <small class="error"
                               ng-show="signup_form.name.$error.maxlength">
                            Your name cannot be longer than 20 characters
                        </small>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="large-12 columns">
                    <label>Your email</label>
                    <input
                            type="email"
                            placeholder="email"
                            name="email"
                            ng-model="signup.email"
                            ng-minlength=3
                            ng-maxlength=20
                            required>
                    <div class="error"
                         ng-show="signup_form.email.$dirty && signup_form.email.$invalid">
                        <small class="error"
                               ng-show="signup_form.email.$error.required">
                            Your email is required.
                        </small>
                        <small class="error"
                               ng-show="signup_form.email.$error.minlength">
                            Your email is required to be at least 3 characters
                        </small>
                        <small class="error"
                               ng-show="signup_form.email.$error.email">
                            That is not a valid email. Please input a valid email.
                        </small>
                        <small class="error"
                               ng-show="signup_form.email.$error.maxlength">
                            Your email cannot be longer than 20 characters
                        </small>
                    </div>
                </div>
            </div>

            <div class="large-12 columns">
                <label>Username</label>
                <input
                        class="username"
                        type="text"
                        placeholder="Desired username"
                        name="username"
                        ng-model="signup.username"
                        ng-minlength=3
                        ng-maxlength=20
                        ensure-unique="username"
                        required>
                <div class="error"
                     ng-show="signup_form.username.$dirty && signup_form.username.$invalid">
                    <small class="error"
                           ng-show="signup_form.username.$error.required">
                        Please input a username
                    </small>
                    <small class="error"
                           ng-show="signup_form.username.$error.minlength">
                        Your username is required to be at least 3 characters
                    </small>
                    <small class="error"
                           ng-show="signup_form.username.$error.maxlength">
                        Your username cannot be longer than 20 characters
                    </small>
                    <small class="error"
                           ng-show="signup_form.username.$error.unique">
                        That username is taken, please try another
                    </small>
                </div>
            </div>

            <button
                    type="submit"
                    class="button radius">Submit</button>
             <!--ng-disabled="signup_form.$invalid"-->
        </fieldset>
    </form>

    <script src="bower_components/angular.js"></script>
    <script src="angular/apps/validation.app.js"></script>

    <script src="angular/directives/ensure-unique.js"></script>
    <script src="angular/directives/focus.js"></script>

    <script src="angular/ctrls/validation.ctrl.js"></script>
</body>
</html>
